<div class="page-header">
  <h1>Victory</h1>
  Victory ID     <br/>
  <%= @victory.id %> <br/>
  Victory Title     <br/>
  <%= @victory.title %>  <br/>
  Victory Problem   <br/>
  <%= @victory.problem %> <br/>
  Victory Solution    <br/>
  <%= @victory.solution %>  <br/>
</div>
<%= pluralize(@victory.root_comments.size, "comment") %>
          <% @comments.each do |i|%>
    <%= i.body%>
    <% if i.has_children? %>
        <%= "child"%>
       <% i.children.each do |child|%>
          <% end%>
    <% end%>
    <% end%>
<%= form_for(@comment, :url => victories_path, :method => :post) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %> <br>
    <%= form.hidden_field :victory_id, :value => @victory.id %>
    <%= form.label :subject %>
    <%= form.text_field :subject %> <br/>
    <%= form.label :body %>
    <%= form.text_field :body %> <br/>
    <%= form.submit "Add Comments" %>
<% end %>
